.main-carousel {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  height: calc(10rem + 10vmin);
  justify-content: center;
  padding: 0 1rem;

  .carousel-item .carousel-item-content {
    display: flex;
    gap: 0.25rem;

    img {
      border-radius: 5px;
      height: calc(20vh + 5vmin);
      width: 50vw;
      object-fit: cover;
    }

    div {
      display: grid;

      h5 {
        word-break: break-all;
      }

      .original-price {
        color: #404040;
        text-decoration: line-through;
      }

      .new-price {
        font-weight: 500;
        line-height: 0;
        margin-top: -0.75rem;
      }
      
          .see-more-link {
            font-size: calc(1rem + 1vw);
            margin-top: 0.5rem;

            span {
            animation: MarginChange 1s infinite ease-in;
            }
          }
    }
  }
}

@media screen and (min-width: 600px) {
  .main-carousel {
    height: calc(15rem + 15vmin);
    padding: 1rem 2rem;

    .carousel-item .carousel-item-content {
      gap: 1rem;

      img {
        height: calc(20vh + 5vmin);
        width: 40vw;
      }

      div {
        width: 50vw;
  
        h5 {
          font-size: 2rem;
        }
  
        .original-price {
          font-size: 1.5rem;
        }
  
        .new-price {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-carousel {
    height: calc(15rem + 15vmin);
    padding: 0.5rem 2rem;

    .carousel-item .carousel-item-content {
      gap: 1rem;

      img {

        height: calc(30vh + 5vmin);
        width: calc(40vw - 10vmin);
      }

      div {
        width: 50vw;
  
        h5 {
          font-size: 2rem;
        }
  
        .original-price {
          font-size: 1.5rem;
        }
  
        .new-price {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@keyframes MarginChange {
  50% { 
    margin-left: 0.15rem;
    margin-right: 0.15rem;
  }

  100% {
    margin-left: -0.05rem;
    margin-right: -0.05rem;
  }
}