.main-search-bar {
  display: flex;
  flex-flow: wrap;
  gap: 0.35rem;
  justify-content: center;
  margin: 1rem auto;
  width: 95%;

  input[type='text'] {
    border: solid thin #171717de;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    width:65%;

    &:focus {
      outline: solid thin #1717176e;
    }
  }

  button {
    box-shadow: 0.25px 0.5px 1px #e5e5e5, 0.25px 0.5px 2px #171717de;
    font-weight: 500;
    text-shadow: 0.05px 0.25px 1px #171717de;
  }

  .search-not-found {
    display: block;
    font-weight: 500;
    width: 75%;
  }
}

.main-products {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: auto;
  margin-bottom: calc(8vh + 5vmin);
  padding: 0.5rem 1rem;
  width: 95%;
}
