.product-card {
  border-radius: 15px;
  box-shadow: 0.75px 1px 3px #e5e5e5, 0.25px 0.75px 5px #171717de;
  contain: content;

  .card-carousel {
    width: 100%;

      img {
        width: 100%;
      }
  }

  .card-price {
    font-weight: 500;
  }
}
