.product-details {
  align-items: center;
  background-color: #1717177c;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow-y: scroll;
  position: fixed;
  text-align: start;
  top: 0;
  width: 100vw;
  z-index: 9999;

  .loading {
    height: 3rem;
    margin: 8rem;
    width: 3rem;
  }

  .product-modal {
    background-color: #e5e5e5;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 95%;

    .product-modal-carousel {
      contain: content;

      .product-modal-carousel-item {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        width: 100%;

        img {
          border-radius: 3px;
          height: calc(25vh + 15vmin);
          margin: auto;
          object-fit: cover;
          width: 95%;
        }
      }

    }

    .product-close {
      right: 1rem;
      position: absolute;
      top: 0.5rem;
      transform: scale(1.15);
      z-index: 3;
    }

    .product-modal-head {
      display: grid;
      position: relative;
    }

    .product-detail-button {
      align-items: center;
      display: flex;
      font-size: calc(1rem + 0.5vmin);
      font-weight: 500;
      gap: 0.25rem;
      margin-left: 1rem;

      svg {
        transform: scale(1.35);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .product-details .product-modal {
    margin-top: 6em;
    :first-child {
      align-items: flex-start;
      display: grid;
      grid-template-columns: minmax(auto, 40%) 8px minmax(auto, 60%);
      grid-template-rows: auto auto;

      div:not(.product-modal-carousel) {
        grid-column: 3/span 4;
      }

      .carousel-indicators {
        display: flex;
      }

      .product-modal-carousel {
        display: flex;
        grid-column: span 1;
        grid-row: 1/span 2;

        .product-modal-carousel-item {
          img {
            height: calc(50vh + 10vmin);
            width: 100%;
          }
        }
      }
    }
  }
}