.product-details {
  align-items: center;
  background-color: #1717176e;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow-y: scroll;
  position: fixed;
  text-align: start;
  top: 0;
  width: 100vw;
  z-index: 9999;

  .product-modal {
    padding: 1rem;
    position: absolute;
    top: 0;
    min-width: 95%;

    .product-modal-carousel {
      contain: content;
      
      .product-modal-carousel-item {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        width: 100%;

        img {
          border-radius: 3px;
          margin: auto;
          width: 85%;
        }
      }

    }

    .product-close {
      right: 1rem;
      position: absolute;
      top: 0.5rem;
      transform: scale(1.15);
      z-index: 3;
    }

    .product-modal-head {
      display: grid;
      position: relative;
    }

    .product-detail-button {
      align-items: center;
      display: flex;
      font-size: calc(1rem + 0.5vmin);
      font-weight: 500;
      gap: 0.25rem;
      margin-left: 1rem;

      svg {
        transform: scale(1.35);
      }
    }
  }
}
